.plk-entity-list-container {

}


.plk-entity-list-toolbar{

}


.plk-entity-list .plk-highlighted {
    font-weight: bold;
    color: var(--color-heavy-highlighted);
    text-decoration-line: underline;
    text-decoration-style: solid;
}








